<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Predicción de Diabetes</title>
    <style>
        body { font-family: Arial; margin: 40px; }
        .container { max-width: 400px; margin: auto; }
        input { width: 100%; padding: 8px; margin: 6px 0; }
        button { padding: 10px; width: 100%; cursor: pointer; }
        h2 { color: #0077cc; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Modelo de Predicción de Diabetes</h1>

<form method="POST">
    <label>Pregnancies</label>
    <input type="number" step="1" name="val1" required>

    <label>Glucose</label>
    <input type="number" step="0.1" name="val2" required>

    <label>BloodPressure</label>
    <input type="number" step="0.1" name="val3" required>

    <label>SkinThickness</label>
    <input type="number" step="0.1" name="val4" required>

    <label>Insulin</label>
    <input type="number" step="0.1" name="val5" required>

    <label>BMI</label>
    <input type="number" step="0.1" name="val6" required>

    <label>DiabetesPedigreeFunction</label>
    <input type="number" step="0.001" name="val7" required>

    <label>Age</label>
    <input type="number" step="1" name="val8" required>

    <button type="submit">Predecir</button>
</form>

